<h1 class="mt-3">Pipes <small>Angular </small></h1>
<hr>

<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <th>Variable</th>
                <th>Pipe</th>
                <th>Salida</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{nombre2}}</td>
                    <td>capitalizado</td>
                    <td>{{nombre2 | capitalizado}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>uppercase</td>
                    <td>{{nombre | uppercase}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>lowercase</td>
                    <td>{{nombre | lowercase}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>slice:3</td>
                    <td>{{nombre | slice:3}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>slice:0:3</td>
                    <td>{{nombre | slice:0:3}}</td>
                </tr>
                <tr>
                    <td>{{arreglo}}</td>
                    <td>slice:1:5</td>
                    <td>{{arreglo | slice:1:5}}</td>
                </tr>
                <tr>
                    <td>{{PI}}</td>
                    <td>number:'2.0-0'</td>
                    <td>{{PI | number:'2.0-0'}}</td>
                </tr>
                <tr>
                    <td>{{PI}}</td>
                    <td>number: '.0-2'</td>
                    <td>{{PI | number: '.0-2'}}</td>
                </tr>
                <tr>
                    <td>{{porcentaje}}</td>
                    <td>percent</td>
                    <td>{{porcentaje | percent}}</td>
                </tr>
                <tr>
                    <td>{{porcentaje}}</td>
                    <td>percent: '.2-2'</td>
                    <td>{{porcentaje | percent: '.2-2'}}</td>
                </tr>
                <tr>
                    <td>{{salario}}</td>
                    <td>currency</td>
                    <td>{{salario | currency}}</td>
                </tr>
                <tr>
                    <td>{{salario}}</td>
                    <td>currency: 'EUR'</td>
                    <td>{{salario | currency: 'EUR'}}</td>
                </tr>
                <tr>
                    <td>{{salario}}</td>
                    <td>currency: 'BOB'</td>
                    <td>{{salario | currency: 'BOB'}}</td>
                </tr>
                <tr>
                    <td>{{salario}}</td>
                    <td>currency: 'LPM': 'symbol-narrow': '.0-0'</td>
                    <td>{{salario | currency: 'LPM': 'symbol-narrow': '.0-0'}}</td>
                </tr>
                <tr>
                    <td>{{valorPromesa}}</td>
                    <td>async</td>
                    <td>{{valorPromesa | async}}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>date</td>
                    <td>{{fecha | date}}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>date: 'medium'</td>
                    <td>{{fecha | date: 'medium'}}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>date: 'short'</td>
                    <td>{{fecha | date: 'short'}}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>date: 'MMMM-dd'</td>
                    <td>{{fecha | date: 'MMMM-dd'}}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>
                        date: 'MMMM-dd'
                        <br>
                        <button (click)="idioma='es'" class="btn btn-primary mr-1">Español</button>
                        <button (click)="idioma='en'" class="btn btn-secondary mr-1">Inglés</button>
                        <button (click)="idioma='fr'" class="btn btn-success mr-1">Francés</button>
                    </td>
                    <td>{{fecha | date: 'MMMM-dd':'':idioma}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>contrasena {{activar}}
                        <br>
                        <button (click)="activar = !activar" class="btn btn-primary mr-1">Activar/Desactivar</button>
                    </td>
                    <td>{{nombre | contrasena: activar }}</td>
                </tr>
            </tbody>
        </table>
        <h1>Slice</h1>
        <ul>
            <li *ngFor="let item of arreglo | slice:0:5"> {{item}}</li>
        </ul>

        <h3>JSON</h3>
        <hr>
        <div class="row mb-5">
            <div class="col">
                <pre>
                    {{heroe | json}}
                </pre>
            </div>
        </div>

        <h3>Dom Seguro</h3>
        <iframe class="mb-5" width="560" height="315" [src]="videoUrl | domseguro" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>